<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookclub | About Us</title>
    <!-- Bootstrap StyleSheet CDN -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ81WUE00s/"
          crossorigin="anonymous">
    <style>
        /* Adjust top padding to prevent content overlap with fixed navbar */
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container py-5" style="width: 50%;">
    <div class="row">
        <div class="col-12 text-center">
            <h1>About Our Book Club</h1>
        </div>
    </div>
    <br /> <br />
    <!-- Introduction row -->
    <div class="row">
        <div class="col-12 text-center">
            <p>
                Welcome to the Book Club! We are a passionate community of readers
                who love to explore new stories, discuss literature, and share our
                thoughts on the books that inspire us. Our club is open to everyone,
                whether you're a casual reader or a dedicated bookworm.
            </p>
        </div>
    </div>
    <br />
    <!-- Mission row -->
    <div class="row">
        <div class="col-12">
            <h3>Our Mission</h3>
            <p>
                At Book Club, we believe that books can open doors to new worlds,
                experiences, and perspectives. Our mission is to create a welcoming
                environment where readers from all walks of life can come together to
                share their love for literature, discuss ideas, and discover new
                authors and genres.
            </p>
        </div>
    </div>
    <br />
    <!-- Community and Events row -->
    <div class="row">
        <div class="col-12">
            <h3>Community and Events</h3>
            <p>
                We host regular meetups, both online and in person, where members can
                engage in lively discussions about our monthly book selections. We
                also organize events such as author talks, book swaps, and themed
                reading challenges to keep our members engaged and excited about
                reading.
            </p>
        </div>
    </div>
    <br />
    <!-- Join Us row -->
    <div class="row">
        <div class="col-12">
            <h3>Join Us</h3>
            <p>
                Interested in becoming a part of our community? We'd love to have you!
                You can sign up for our newsletter to stay updated on upcoming books
                and events, or simply drop by one of our meetups to see what we're all
                about.
            </p>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scriptFooter :: scriptFooter"></div>
</body>
</html>
