<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<header th:fragment="header">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="collapse navbar-collapse" id="navbarText">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li>
						<a href="/" class="navbar-brand" style="margin-top: 9px;">Bookclub</a>
					</li>
					<li>
						<a href="/about" th:href="@{/about}" class="btn btn-outline-light navbar-btn">About Us</a>
					</li>
					<li>
						<a href="/contact" th:href="@{/contact}" class="btn btn-outline-light navbar-btn">Contact Us</a>
					</li>
					<li>
						<a href="/wishlist" th:href="@{/wishlist}" class="btn btn-outline-light navbar-btn">Wishlist</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAuthenticated()" style="margin-top: 9px;">
						<span class="navbar-text">
							Logged in as <strong sec:authentication="name"></strong>
						</span>
					</li>
					<li class="nav-item">
						<a href="/swagger-ui.html" target="_blank" class="btn btn-outline-danger navbar-btn">
							OpenAPI Specification
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasRole('ADMIN')">
						<a class="btn btn-outline-danger navbar-btn" th:href="@{/monthly-books}">Monthly Books</a>
					</li>
					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/logout}" class="btn btn-outline-danger navbar-btn">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
</body>
</html>
